{% extends "layout.html" %}

{% block content %}
<div class="row mt-4">
  
  <div class="col-lg-4 col-md-6 mb-5">
    <div class="card homecards" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">ADD NEW CONVICT</h5>
        <img src="https://i.ibb.co/cv1QTcN/criminal.jpg" alt="criminal" border="0"></a> <br>
        <a href="{{ url_for('addConvict') }}" class="btn btn-primary homebtns">Add</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-5">
    <div class="card homecards" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">SEARCH VIA DETAILS</h5>
        <img src="https://i.ibb.co/dm7J0wd/Searchdb.jpg" alt="Searchdb" border="0"></a><br>
        <a href="{{ url_for('searchConvict')}}" class="btn btn-primary homebtns">Search</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-5">
    <div class="card homecards" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">UPDATE RECORDS</h5>
        <img src="https://i.ibb.co/H4mTzcr/updatedb.jpg" alt="updatedb" border="0"></a><br>
        <a href="{{ url_for('update') }}" class="btn btn-primary homebtns">Update</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-5">
    <div class="card homecards" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">SHOW CONVICTS</h5>
        <img src="https://i.ibb.co/cgJHvSs/showlist.jpg" alt="showlist" border="0"></a>        <br>
        <a href="{{ url_for('showConvicts') }}" class="btn btn-primary homebtns">Show</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-5">
    <div class="card homecards" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">SEARCH VIA IMAGE</h5>
        <img src="https://i.ibb.co/rkHxD2q/media.png" alt="media" border="0"></a><br>
        <a href="{{ url_for('searchUsingMedia')}}" class="btn btn-primary homebtns">Search</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-5">
    <div class="card homecards" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">SEARCH VIA VIDEO</h5>
        <img src="https://i.ibb.co/PM5wC7w/live.jpg" alt="live" border="0"></a> <br>
         <a href="{{ url_for('upload') }}" class="btn btn-primary homebtns">Search</a>
      </div>
    </div>
  </div>

</div>
{% endblock content %}